@using Ux.Mvc.Web.UI
<div style="width:150px;">
<div class="input-group">
    <span class="input-group-addon">@Html.UxIcon(IconType.UsDollar)</span>
@Html.TextBoxFor(item=>item, new { @class = "form-control", type="text" })
</div>
    </div>
