@using Ux.Mvc.Web.UI
@{
    string PlaceHolder = null;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey(Ux.Mvc.Attributes.UxAttributeKeys.Placeholder.Text))
    {
        PlaceHolder = ViewData.ModelMetadata.AdditionalValues[Ux.Mvc.Attributes.UxAttributeKeys.Placeholder.Text].ToString();
    }       
}
<div class="ux-tb-date">
    <div class="input-group date">
        @Html.TextBoxFor(item=>item, new { @class = "form-control", type="text", placeholder = PlaceHolder, novalidate = true })
        <span class="input-group-addon" style="cursor:pointer;">@Html.UxIcon(IconType.Calendar)</span>
    </div>
</div>
