@using Ux.Mvc.Web.UI
@{
	string PlaceHolder = "dd/mm/yyyy";
	if (ViewBag.PlaceHolder != null) { PlaceHolder = ViewBag.PlaceHolder; }        
}
<div style="width: 150px;">
    <div class="input-group date">
        @Html.TextBoxFor(item=>item, new { @class = "form-control", type="text", placeholder = PlaceHolder , value=Model.ToString("dd/MM/yyyy"), novalidate = true })
        <span class="input-group-addon" style="cursor:pointer;">@Html.UxIcon(IconType.Calendar)</span>
    </div>
</div>
