@using Ux.Mvc.Web.UI
<div style="width:300px;">
<div class="input-group">
    <span class="input-group-addon">@Html.UxIcon(IconType.EnvelopeOutlined)</span>

@Html.TextBoxFor(item=>item, new { @class = "form-control", type="email", placeholder = "something@domain.com" })
</div>
    </div>