@using Ux.Mvc.Web.UI
@{
    string PlaceHolder = null;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey(Ux.Mvc.Attributes.UxAttributeKeys.Placeholder.Text))
    {
        PlaceHolder = ViewData.ModelMetadata.AdditionalValues[Ux.Mvc.Attributes.UxAttributeKeys.Placeholder.Text].ToString();
    }
}
<div class="ux-tb-imageurl">
    <div class="input-group">
        <span class="input-group-addon">@Html.UxIcon(IconType.PictureOutlined)</span>
        @Html.TextBoxFor(item => item, new { @class = "form-control", type = "url", placeholder = PlaceHolder })
    </div>
</div>

