@using Ux.Mvc.Web.UI
<div style="width: 170px;">
    <div class="input-group">
        <span class="input-group-addon">@Html.UxIcon(IconType.Key)</span>

        @Html.TextBoxFor(item => item, new { @class = "form-control", type="password" })
    </div>
</div>

