@using Ux.Mvc.Web.UI
<div style="width: 450px;">
    <div class="input-group">
        <span class="input-group-addon">@Html.UxIcon(IconType.Link)</span>

        @Html.TextBoxFor(item => item, new { @class = "form-control", type="url", placeholder="www.something.com" })
    </div>
</div>
