@*@foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForEdit && !ViewData.TemplateInfo.Visited(pm))) 
{
    if (prop.HideSurroundingHtml) 
    {
        @Html.UxEditorRowFor(prop.PropertyName)
    } 
    else 
    {
        <div class="editor-container">
            <div class="editor-label">
                @Html.Label(prop.PropertyName, prop.DisplayName)
            </div>
            <div class="editor-field">
                @Html.Editor(prop.PropertyName, prop.TemplateHint)
                @Html.ValidationMessage(prop.PropertyName, "*")
            </div>
        </div>
    }
}*@
