@using Ux.Mvc.Web.UI
@model Ux.Mvc.ViewModels.Examples
@{
    ViewBag.Title = "Setup";
}
@Html.Partial("_Nav")
<div class="container">
    <div class="page-header">
        <h1>Setup</h1>
    </div>


    <div class="section">
        <h3>Include UX styles in your layouts</h3>
        <p>UxFoundation creates a style bundle containing references to all dependent CSS files, including Bootstrap. Add the following in the <code>head</code> of your page before your own CSS.</p>
        
        <div class="highlight">
            <pre class="prettyprint lang-cs">
@@Styles.Render("~/ux/css")
// Your own app CSS references go here
</pre>


        </div>
    </div>
    <div class="section">
        <h3>Include UX scripts in your layouts</h3>
        <p>Add the following at the bottom of your page (before the closing <code>body</code> tag). Insert it after including jQuery and before your own scripts.</p>
        <div class="highlight">
            <pre class="prettyprint lang-cs">
// Your jQuery script reference goes here
@@Scripts.Render("~/ux/js")
// Your own app script references go here
</pre>


        </div>
    </div>
    <div class="section">
        <h3>Remove dotless httpHandler from web.config</h3>
        <p>Dotless adds handlers to the <code>system.web</code> and <code>system.webServer</code> elements in your <code>web.config</code>. For MVC5, you need to remove the handlers declared in the <code>system.web</code> element.</p>
        <div class="highlight">
            <pre class="prettyprint lang-html">
// your web.config
&lt;system.web>
    &hellip;
    &lt;httphandlers>
        // Remove this handler
        &lt;add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    &lt;/httphandlers>
    &hellip;
&lt;/system.web>
</pre>


        </div>
    </div>
    <div class="Section">

        <h3 id="datepickers">Bootstrap Datepicker update</h3>
        <p>As at the release of the UxFoundation, Bootstrap Datepicker had not been updated to support the recently released Bootstrap 3.0.0. </p>
        <div class="callout callout-info">
            If the date pickers are not displaying properly, manually update the <code>~/Scripts/bootstrap-datepicker.js</code> with the following correction.
        </div>
        <div class="highlight">
            <pre class="prettyprint lang-js">
// Change line 41 from this....
this.component = this.element.is('.date') ? this.element.find('.add-on, .btn') : false;

// to this...
this.component = this.element.is('.date') ? this.element.find('.add-on, .input-group-addon, .btn') : false;
</pre>
        </div>
    </div>
    
    <div class="section">
        <h3>How it works</h3>

        <p>Ux comes with a wide number of editor and display templates. Rather than copy these into your own MVC editor and display template folders, these have been placed in a separate location and made accessible through the addition of a View Engine.</p>
        <p>The advantage of this approach is that you can customise the templates without changing the Ux templates themselves. Simply override the template as you would any other template, by placing a razor file into the EditorTemplates or DisplayTemplates folder. Any customisations you make in your own templates will not be affected by any future UxFoundation updates.</p>
        <p>
            The following locations are added:
        </p>

        <ul>
            <li><code>~/Ux.Mvc/Views/{1}/{0}.cshtml</code></li>
            <li><code>~/Ux.Mvc/Views/Shared/{0}.cshtml</code></li>
            <li><code>~/Ux.Mvc/Views/Documentation/{0}.cshtml</code></li>
        </ul>

    </div>
