@using Ux.Mvc.Web.UI
@model Ux.Mvc.ViewModels.DataAnnotationExamples
@{
    ViewBag.Title = "Data annotations";
}
@Html.Partial("_Nav")
<div class="container">

    @Html.Partial((string)ViewBag.PartialToShow)

</div>



