@using Ux.Mvc.Web.UI
@model Ux.Mvc.ViewModels.Examples
@{
    ViewBag.Title = "Web controls - UxFoundation";
    
}
@Html.Partial("_Nav")
<div class="container">
    
       @Html.Partial((string)ViewBag.PartialToShow)
    
</div>
