@using Ux.Mvc.Web.UI
@{
    var options = new List<SelectOption>();
    options.Add(new SelectOption("Apple", "1"));
    options.Add(new SelectOption("Banana", "2"));
    options.Add(new SelectOption("Orange", "3"));
    options.Add(new SelectOption("Pear", "4"));

    var ds = new DataSource(options);
      
}
<div class="page-header">
    <h1>Selects with DataSource <small>UxSelectWithDataSource</small></h1>
</div>
<div class="callout callout-info">
    <b>bootstrap-select</b><br />
    Selects are rendered using bootstrap-select, a plugin by Silvio Moreto. For more information, visit <a href="http://silviomoreto.github.io/bootstrap-select/">http://silviomoreto.github.io/bootstrap-select/</a>.

</div>
<div class="callout callout-danger">
    @Html.UxIcon(IconType.ExclamationCircle) <b>Warning</b> - this documentation is incomplete/incorrect. Use Intellisense to determine usage.

</div>
<div class="section">
    <h3>Helper</h3>
    <div class="highlight highlight-large">
        <pre class="prettyprint">
@@Html.UxSelectWithDataSource()
</pre>
    </div>
</div>





<div class="section">
    <h3>Default appearance</h3>
    <div class="example">

        @Html.UxSelectWithDataSource(ds)
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@{
    var options = new List&lt;SelectOption>();
    options.Add(new SelectOption("Apple","1"));
    options.Add(new SelectOption("Banana","2"));
    options.Add(new SelectOption("Orange","3"));
    options.Add(new SelectOption("Pear","4"));
            
    var ds = new DataSource(options);
}
@@Html.UxSelectWithDataSource(ds)
</pre>
    </div>
</div>



<div class="section">
    <h3>Parameters</h3>
    @using (var panel = Html.UxPanel())
    {
        @panel.Header(
    @:UxSelectWithDataSource
)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>appearance</td>
                    <td><code>AppearanceType</code></td>
                    <td><code>Default</code></td>
                    <td>Sets the appearance of the select.</td>
                </tr>
                <tr>
                    <td>liveSearch</td>
                    <td><code>bool</code></td>
                    <td><code>false</code></td>
                    <td>Adds a search bar at the top of the dropdown.</td>
                </tr>
                <tr>
                    <td>showTick</td>
                    <td><code>bool</code></td>
                    <td><code>false</code></td>
                    <td>Shows a tick against the selected item.</td>
                </tr>
                <tr>
                    <td>showArrow</td>
                    <td><code>bool</code></td>
                    <td><code>false</code></td>
                    <td>Shows an arrow connecting the dropdown to the selector</td>
                </tr>
                <tr>
                    <td>autoWidth</td>
                    <td><code>bool</code></td>
                    <td><code>true</code></td>
                    <td>Sets the width of the selector to fit contents.</td>
                </tr>
                <tr>
                    <td>width</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Sets a predetermined width using CSS style width descriptors. i.e. <code>50%</code> or <code>250px</code>. Note, setting this value overrides <code>autoWidth</code>.</td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td><code>bool</code></td>
                    <td><code>false</code></td>
                    <td>Prevents the user from selecting any options.</td>
                </tr>
                <tr>
                    <td>header</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>If not <code>null</code>, adds a header to the top of the dropdown list.</td>
                </tr>
                <tr>
                    <td>container</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Assigns the parent container for the dropdown as a css selector. i.e. <code>body</code> or <code>#myContainer</code> or <code>.myClass</code> </td>
                </tr>
                <tr>
                    <td>clientId</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Sets the <code>id</code> property of the rendered html element.</td>
                </tr>
            </tbody>
        </table>
    }
</div>
