@using Ux.Mvc.Web.UI
<div class="page-header">
    <h1>Wells<small>UxWell</small></h1>
</div>
<div class="section">
    <h3>Helper</h3>
    <div class="highlight highlight-large">
        <pre class="prettyprint">
@@using (@@Html.UxWell()) { &hellip; }
</pre>
    </div>
</div>
<div class="section">



    <h3>Size</h3>
    <div class="example">
        @using (Html.UxWell(WellSize.Large))
        {
            @:Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!
	 }
        @using (Html.UxWell())
        {
            @:Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!
	 }
        @using (Html.UxWell(WellSize.Small))
        {
            @:Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!
	 }
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@using (Html.UxWell(WellSize.Large)) { &hellip; }
@@using (Html.UxWell()) { &hellip; }
@@using (Html.UxWell(WellSize.Small)) { &hellip; }
</pre>
    </div>
</div>

<div class="section">
    <h3>Parameters</h3>
    @using (var panel = Html.UxPanel(AppearanceType.Default))
    {
        @panel.Header(
    @:UxWell
)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>size</td>
                    <td><code>WellSize</code></td>
                    <td><code>Default</code></td>
                    <td>The size of the well.</td>
                </tr>
                <tr>
                    <td>clientId</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Sets the <code>id</code> property of the rendered html element.</td>
                </tr>
            </tbody>
        </table>
    }
</div>
